<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultRedisServer" value="192.168.6.1:6379"/>
    <add key="DefaultReadRedisServer" value="192.168.6.1:6379"/>
    <add key="DefaultWriteRedisServer" value="192.168.6.1:6379"/>
    <add key="DifferentRedisServer" value="192.168.6.2:6379"/>
  </appSettings>
</configuration>